/*### mail-details-container ###*/

hr {
    width: 90%;
    margin: 5px auto;
}

.mail-body {
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
    height: calc(100vh - 85px - 150px);
    text-align: center;
    overflow-y: scroll;
}

.mail-data {
    padding: 2px 0;
}

.nav-btns button {
    margin: 10px 0;
    width: 100px;
    height: 25px;
}

.nav-btns button:hover::before {
    content: "⬅";
}