/*### mail-details-container ###*/

hr {
  width: 90%;
  margin: 5px auto;
}

.mail-body {
  border: 1px solid #000;
  width: 100%;
  padding: 10px;
  height: calc(100vh - 85px - 150px);
  text-align: center;
  overflow-y: scroll;
  align-items: center;
  font-size: 1.4rem;
  height: 50vh;
}

.mail-body p {
  margin-bottom: 2rem;
}

.mail-body img {
  width: 300px;
}

.mail-data {
  padding: 2px 0;
  font-size: 1.4rem;
}

.nav-btns button {
  color: #fff;
  background-color: #810000;
  border-radius: 15px;
  padding: 9px 18px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: ease-out 0.8s;
  font-family: rock;
}

.nav-btns .reply-btn {
  background-color: #2ea51f;
}

.nav-btns .reply-btn:hover {
  background-color: #f0f0f2;
  color: #2ea51f;
}

.nav-btns button:hover {
  color: #810000;
  background-color: #f0f0f2;
  letter-spacing: 1px;
}
