/*### mail controller Cmp ###*/

.controller-container,
.controller-container option {
  padding: 10px 10px;
  background-color: rgba(129, 0, 0, 0.8);
}

.controller-container .compose-btn::before {
  content: "New Mail";
}

.controller-container .compose-btn {
  color: #810000;
  background-color: #f0f0f2;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: ease-out 0.5s;
}
.controller-container .compose-btn:hover {
  font-size: 1.1rem;
}

.controller-container select {
  border: none;
  width: 100px;
  font-size: 1.1rem;
  background-color: transparent;
  outline: none;
  color: white;
}

.controller-container input {
  line-height: 1.5rem;
}

.controller-container input::placeholder {
  color: #810000;
}

.controller-container option {
  color: rgb(255, 255, 255);
}

.new-mail-container {
  width: 300px;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: rgba(129, 0, 0, 1);
  color: white;
}

.new-mail-container {
  box-shadow: 0px 0px 9px 0px rgb(0, 0, 0);
}

.new-mail-container input {
  width: 100%;
}

.new-mail-container textarea {
  resize: none;
  height: 100%;
}

.btns > * {
  flex: 1;
}

@media (max-width: 550px) {
  .controller-container {
    height: 70px;
  }
  .controller-container .compose-btn::before {
    content: "+";
  }
  .controller-container .compose-btn {
    font-size: 1.5rem;
  }
  .controller-container .compose-btn:hover {
    font-size: 1.8rem;
  }
  .controller-container select {
    width: 75px;
  }
  .controller-container input {
    width: 100px;
  }
}
