.mail-container {
  border: 1px solid #810000;
  height: calc(100vh - 85px - 75px);
  overflow-y: scroll;
}

.mail-container::-webkit-scrollbar {
  width: 1em;
}

.mail-container::-webkit-scrollbar-thumb {
  outline: 1px solid #810000;
}

.new-mail-container,
.mail-card a {
  padding: 10px;
}

.mail-card {
  border-bottom: 1px solid #810000;
  margin-bottom: 1px;
  padding: 5px;
  color: #810000;
}

.mail-card:hover {
  opacity: 0.8;
  background-color: #810000;
  color: white;
}

.mail-card a {
  width: 90%;
  flex-wrap: wrap;
}

.mail-card button {
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
}

.mail-card button:hover {
  transition: 0.5s;
  opacity: 0.8;
  transform: scale(1.2) rotate(1deg);
}

.mail-card button:active {
  position: relative;
  bottom: 2px;
}

.mail-card img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mail-card img:hover {
  transition: 0.3s;
  opacity: 0.8;
  transform: scale(1.2) rotate(1deg);
}

.unread {
  background-color: #530000;
  color: white;
  opacity: 0.8;
}

@media (max-width: 670px) {
  .mail-card h4 {
    font-size: 0.8rem;
    margin-inline-start: 5px;
  }
  .mail-card a {
    padding: 0 10px;
  }
}
