/*### mail controller Cmp ###*/

.controller-container, .controller-container option {
  padding: 10px 10px;
  background-color: rgba(129, 0, 0, 0.8);
}

.controller-container button {
  color: #fff;
  background-color: #810000;
  border-radius: 15px;
  padding: 18px 36px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: ease-out 0.8s;
}
.controller-container button:hover {
  color: #810000;
  background-color: #f0f0f2;
  letter-spacing: 1px;
}

.controller-container select {
  border: none;
  width: 100px;
  font-size: 1.1rem;
  background-color: transparent;
  outline: none;
}

<<<<<<< HEAD
.controller-container compose-btn {
  border: none;
}

.controller-container option {
  color: #000;
=======
.controller-container option, .controller-container select {
  color: #fff;
>>>>>>> f579e5aa18907446aaebb57762fbf9af30a02695
}

.new-mail-container {
  width: 300px;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: #fff;
}

.new-mail-container {
  box-shadow: 0px 0px 9px 0px rgb(0, 0, 0);
}

.new-mail-container input {
  width: 100%;
}

.new-mail-container textarea {
  resize: none;
  height: 100%;
}

.btns > * {
  flex: 1;
}
