.mail-container {
    border: 1px solid rgb(170, 168, 168);
    height: calc(100vh - 85px - 75px);
    overflow-y: scroll;
}

.mail-container::-webkit-scrollbar {
    width: 1em;
}

.mail-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.mail-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(56, 57, 80);
    outline: 1px solid slategrey;
}

.mail-card {
    border-bottom: 1px solid rgba(177, 173, 173);
    margin-bottom: 1px;
    padding: 5px;
}

.mail-card a {
    width: 70%;
    flex-wrap: wrap;
}

.mail-card button {
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
}

.mail-card button:active {
    position: relative;
    bottom: 2px;
}

.mail-card img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.unread {
    /* background-color: rgb(214, 209, 209); */
    box-shadow: inset -1px 20px 23px 10px rgba(84, 85, 104, 0.3);
}

@media (max-width:670px) {
    .mail-card h4 {
        font-size: 0.8rem;
        margin-inline-start: 5px;
    }
    .mail-card a {
        padding: 0 10px;
    }
}