.mail-container {
    border: 1px solid #000;
    height: calc(100vh - 85px - 75px);
    overflow-y: scroll;
}

.mail-container::-webkit-scrollbar {
    width: 1em;
}

.mail-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mail-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.mail-card {
    border-bottom: 1px solid rgb(177, 173, 173);
    margin: 10px;
}

.mail-card a {
    width: 80%;
}

.mail-card button {
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
}

.mail-card button:active {
    position: relative;
    bottom: 2px;
}

.mail-card img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}