/*### Header ###*/

.header-container {
  border-bottom: 1px solid #ceced4;
  position: relative;
  height: 85px;
}

.nav-btn img {
  margin: 20px 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.logo {
  color: #810000;
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
}

.menu-container {
  grid-template-columns: repeat(2, 60px);
  grid-template-rows: repeat(2, 60px);
  gap: 10px;
  align-content: center;
  border-radius: 10px;
  width: 130px;
  background-color: #ededef;
  box-shadow: 0 0 3px 1px #a59c9c;
  position: absolute;
  right: 10%;
  z-index: 1;
}

a img {
  opacity: 0.6;
  padding: 5px;
  height: 60px;
  width: 60px;
}

a img:hover {
  opacity: 1;
}
