/*### Home Page ###*/

* {
    color: #810000;
}

.hero {
    height: 40vh;
}

.hero h2 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
}

.hero a {
    animation: 1.5s jump infinite;
    font-family: 'Bebas Neue', cursive;
}

@keyframes jump {
    0% {
        font-size: 1rem;
    }
    10% {
        font-size: 1.1rem;
    }
    20% {
        font-size: 1.2rem;
    }
    30% {
        font-size: 1.3rem;
    }
    40% {
        font-size: 1.4rem;
    }
    50% {
        font-size: 1.5rem;
    }
    60% {
        font-size: 1.4rem;
    }
    70% {
        font-size: 1.3rem;
    }
    80% {
        font-size: 1.2rem;
    }
    90% {
        font-size: 1.1rem;
    }
    100% {
        font-size: 1rem;
    }
}