/*### Home Page ###*/

.home {
    background-image: url('../img/background-2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 90vh;
    width: 100%;
}

.hero {
    height: 40vh;
}

.hero h2 {
    margin-top: 100px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 2rem;
}