.user-msg {
  float: right;
  background-color: aqua;
  padding: 10px;
  color: #2b2b2b;
}

.user-msg.error {
  background-color: #810000;
  opacity: 0.8;
  color: white;
}
.user-msg.success {
  background-color: #2ea51f;
  color: white;
}
