.note-add {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    height: 7rem;
}

.note-add input {
    font-size: 1.5rem;
}

.note-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-self: end;
}

textarea {
    resize: none;
    color: white;
    background-color: #dd7a7a;
    font-size: 1.5rem;
}

textarea:hover {
    transform: scale(1.02);
    transition: 0.8s;
}

p {
    color: #dd7a7a;
}


button:hover {
    transform: scale(1.02);
    transition: 0.8s;
}